body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100px;
    background-color: rgb(27, 48, 27);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(https://static.vecteezy.com/system/resources/previews/015/288/522/non_2x/multi-layers-green-color-texture-3d-papercut-layers-in-gradient-banner-abstract-paper-cut-art-background-design-for-website-template-topography-map-concept-or-smooth-origami-paper-cut-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    word-spacing: 100px;
    padding-right: 280px;
}

.stone{
    background-color:rgb(53, 52, 52);
    margin:100px auto;
    padding:50px;
    width:250px;
    margin-top: 100px;  
    height:400px;
    border-radius: 10px;

}

.stone a{
    text-decoration: none;
    color: #fff;
    
}

.border-btm {
    border-bottom: 2px solid green;
}

.switch{
    color: #fff;

}

.switch a{
    color: #fff;
}

h2{
    color:aliceblue;
    
}

.login-form{
    margin-top: 10px;
}

.sign-upform{
    margin-top: 10px;

}

.input-box{
    border-radius: 2px; 
    width: 100px;
    align-self: center !important;
    text-align: center;
}


.form-control{
    color: #fff !important;
    box-sizing: 100px !important;
    margin: 7px;
    border-radius: 10px;
    height: 30px;
    align-items: center;
    word-spacing: 40px;
    width: 200px;
}

::placeholder{
    color: #777 !important;
} 

.remember-me{
    color:white;
    margin-top: 15px;
    word-spacing: 0px !important;
}

.form-btn{
    text-align: center;
    margin-top: 20px;
}

button{
    color:white !important;
    background-color: #244937;
    width: 120px;
    height: 40px;
    border-radius: 25px !important;
    border: none;
}


.d-none{
    display: none;
}

.pass{
    text-align: center;
    margin-top: 5px;
    word-spacing: 0px !important;
}

.lg-switch-text {
    word-spacing: 40px;
}