h1{
    text-align: center;
    color: #dae3de;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 250px;
    padding-bottom: 50px;


}

body{
    background-color:#244937 ;
    scroll-timeline: 20;
}

